@use 'animations.scss'; 

.animated-bg {
  background: linear-gradient(135deg, #2c2c2c, #4a0010);
  background-size: 300% 300%;
  animation: smoothGradientFlow 8s ease-in-out infinite;
  animation-delay: var(--anim-sync, 0s);
}