NODE_ENV=development
PORT=3000
FRONTEND_URL="http://localhost:4200"
DATABASE_URL="mysql://root:root123@localhost:3306/channel_db"
JWT_SECRET="jwt_secret_key"
JWT_EXPIRES_IN="15m"
JWT_SECRET_REFRESH="jwt_refresh_secret_key"
JWT_EXPIRES_IN_REFRESH="7d"
JWT_RESETPASS_SECRET='jwt_reset_password_secret_key'
JWT_RESETPASS_EXPIRES_IN='10m'
OTP_SECRET='otp_secret_key'
OTP_EXPIRES_IN=420000
TOKEN_SECRET='token_secret_key'
FIRST_ADMIN_SECRET_CODE="ChPeFAC26#"

# ========================
# Email Configuration
# ========================
# Steps to configure Gmail:
# 1. Enable 2FA on your Google account: https://myaccount.google.com/security
# 2. Generate App Password: https://myaccount.google.com/apppasswords
# 3. Copy the 16-character password and use it below
#
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="tu-email@gmail.com"
SMTP_PASS="aaaa bbbb cccc dddd"
EMAIL_FROM="tu-email@gmail.com"