<div class="cal-sidebar__config-group">
  <button class="cal-sidebar__btn cal-sidebar__btn--hours" (click)="onOpenWorkingHoursConfig()" title="Configurar horario base">
    <span class="cal-sidebar__btn-icon"><span class="material-symbols-outlined" translate="no">schedule</span></span>
    <span class="cal-sidebar__btn-label">Horario base</span>
  </button>
  <button class="cal-sidebar__btn cal-sidebar__btn--periodoff" (click)="onOpenPeriodOffConfig()" title="Configurar periodos libres">
    <span class="cal-sidebar__btn-icon"><span class="material-symbols-outlined" translate="no">beach_access</span></span>
    <span class="cal-sidebar__btn-label">Periodo libre</span>
  </button>
  <button class="cal-sidebar__btn cal-sidebar__btn--dayoff" (click)="onOpenDayOffConfig()" title="Configurar días libres">
    <span class="cal-sidebar__btn-icon"><span class="material-symbols-outlined" translate="no">event_busy</span></span>
    <span class="cal-sidebar__btn-label">Día libre</span>
  </button>
  <button class="cal-sidebar__btn cal-sidebar__btn--block" (click)="onOpenTimeOffConfig()" title="Configurar bloqueos de tiempo">
    <span class="cal-sidebar__btn-icon"><span class="material-symbols-outlined" translate="no">lock_clock</span></span>
    <span class="cal-sidebar__btn-label">Bloqueo</span>
  </button>
</div>
<div class="cal-sidebar__divider"></div>
<button
  class="cal-sidebar__btn cal-sidebar__btn--delete"
  [class.cal-sidebar__btn--delete-active]="isDeleteMode"
  (click)="onToggleDeleteMode()"
  [title]="isDeleteMode ? 'Desactivar modo eliminar' : 'Activar modo eliminar'"
>
  <span class="cal-sidebar__btn-icon">
    <span class="material-symbols-outlined" translate="no">{{ isDeleteMode ? 'delete_forever' : 'delete' }}</span>
  </span>
  <span class="cal-sidebar__btn-label">{{ isDeleteMode ? 'Cancelar' : 'Eliminar' }}</span>
</button>
