<div class="home-page">

  <div class="home-page__bg" aria-hidden="true">
    <div class="home-page__bg-orb home-page__bg-orb--1"></div>
    <div class="home-page__bg-orb home-page__bg-orb--2"></div>
    <div class="home-page__bg-orb home-page__bg-orb--3"></div>
  </div>

  <div class="home-hero">

    <div class="home-hero__eyebrow">
      <span class="home-hero__eyebrow-dot"></span>
      Channel Peluquería
    </div>

    <h1 class="home-hero__heading">
      {{ welcomeMessage }},<br>
      <span class="home-hero__name">{{ userName }}</span>
    </h1>

    <p class="home-hero__subtext">{{ welcomeSubmessage }}</p>

    <div class="home-hero__cta" *ngIf="isClient">
      <button class="schedule-btn" type="button" (click)="goToCreateAppointment()">
        <span class="schedule-btn__ring schedule-btn__ring--1"></span>
        <span class="schedule-btn__ring schedule-btn__ring--2"></span>
        <span class="schedule-btn__shimmer"></span>
        <span class="schedule-btn__spark schedule-btn__spark--a"></span>
        <span class="schedule-btn__spark schedule-btn__spark--b"></span>
        <span class="schedule-btn__spark schedule-btn__spark--c"></span>
        <span class="schedule-btn__content">
          <span class="schedule-btn__icon material-symbols-outlined" translate="no">calendar_add_on</span>
          <span class="schedule-btn__label">Agendar nueva cita</span>
        </span>
      </button>
    </div>

    <div class="home-hero__cta" *ngIf="isWorker">
      <button class="appt-nav__btn" type="button" (click)="goToManageRequests()">
        <span class="appt-nav__btn__shimmer"></span>
        <span class="appt-nav__btn__glow"></span>
        <span class="appt-nav__btn__content">
          <span class="material-symbols-outlined appt-nav__btn__icon" translate="no">event_available</span>
          <span class="appt-nav__btn__text">Gestionar Solicitudes</span>
        </span>
      </button>
    </div>

    <div class="home-hero__cta" *ngIf="isAdmin">
      <button class="add-btn add-btn--border-neutral" type="button" (click)="goToRegisterUser()">
        <span class="add-btn-shimmer"></span>
        <span class="add-btn-content">
          <span class="material-symbols-outlined" translate="no">person_add</span>
          <span>Nuevo Usuario</span>
        </span>
      </button>
    </div>

  </div>

  <div class="home-divider" aria-hidden="true">
    <div class="home-divider__line"></div>
    <span class="material-symbols-outlined home-divider__icon" translate="no">auto_awesome</span>
    <div class="home-divider__line"></div>
  </div>

  <div class="home-links">

    <ng-container *ngIf="isClient">
      <a class="home-link-card" routerLink="/appointments">
        <div class="home-link-card__icon-wrap">
          <span class="material-symbols-outlined home-link-card__icon" translate="no">calendar_month</span>
        </div>
        <div class="home-link-card__body">
          <span class="home-link-card__title">Mis citas</span>
          <span class="home-link-card__desc">Consulta tu calendario semanal</span>
        </div>
        <span class="material-symbols-outlined home-link-card__arrow" translate="no">arrow_forward</span>
      </a>
    </ng-container>

    <ng-container *ngIf="isWorker">
      <a class="home-link-card" routerLink="/appointments">
        <div class="home-link-card__icon-wrap">
          <span class="material-symbols-outlined home-link-card__icon" translate="no">calendar_month</span>
        </div>
        <div class="home-link-card__body">
          <span class="home-link-card__title">Mi agenda</span>
          <span class="home-link-card__desc">Vista semanal de tus citas</span>
        </div>
        <span class="material-symbols-outlined home-link-card__arrow" translate="no">arrow_forward</span>
      </a>
    </ng-container>

    <ng-container *ngIf="isAdmin">
      <a class="home-link-card" routerLink="/users">
        <div class="home-link-card__icon-wrap">
          <span class="material-symbols-outlined home-link-card__icon" translate="no">group</span>
        </div>
        <div class="home-link-card__body">
          <span class="home-link-card__title">Usuarios</span>
          <span class="home-link-card__desc">Gestiona clientes y estilistas</span>
        </div>
        <span class="material-symbols-outlined home-link-card__arrow" translate="no">arrow_forward</span>
      </a>
    </ng-container>

  </div>

</div>